@model List<Randevu>

<h3>Aktif Randevular</h3>

<table class="table">
    <tr>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Müşteri</th>
        <th>Antrenör</th>
    </tr>

    @foreach (var r in Model)
    {
        <tr>
            <td>@r.Tarih.ToShortDateString()</td>
            <td>
                @r.BaslangicSaat - @r.BitisSaat
            </td>
            <td>@r.Musteri.AdSoyad</td>
            <td>@r.Trainer.AdSoyad</td>
        </tr>
    }
</table>
